/* Copyright 2020 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */


#help-dialog {
  border: 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(var(--google-grey-800-rgb), 0.3),
              0 4px 8px 3px rgba(var(--google-grey-800-rgb), 0.15);
  flex: 1 1 auto;
  max-width: 512px;
  padding: 20px 20px 16px 20px;
  width: 512px;
}

#help-dialog-title ::slotted(h1),
#help-dialog-title .fallback {
  color: var(--oobe-header-text-color);
  @apply --oobe-help-dialog-header-font;
  margin: 0;
  padding-bottom: 8px;
  user-select: none;
}

#content-container {
  color: var(--oobe-text-color);
  @apply --oobe-default-font;
  padding-bottom: 20px;
}

#button-container {
  display: flex;
  justify-content: flex-end;
  min-height: 0;
  padding-top: 16px;
}


